@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter var';
  src: url('/fonts/Inter.var.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-feature-settings: "ss01";
}

:root {
  scrollbar-color: theme('colors.gray.500') transparent;
}

html {
  scroll-behavior: smooth;
}

._toast {
  border-radius: 0.5rem !important;
  color: theme("colors.base-content") !important;
}

._toast div[aria-live="polite"] {
  margin: 4px 0 4px 10px !important;
  padding: 2px;
}

@keyframes animate-nav-menu {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.nav-menu {
  animation: animate-nav-menu 0.3s ease-out;
}

body {
  @apply hide-scrollbar;
}

main {
  @apply bg-gray-900;
}
